.projects {
    width: 100%;
    padding: 0rem 0 0 5rem;
    background: var(--color__dark__01);
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.3);
} 

.projects__container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items:center;
    justify-content:center;
}

.projects__title {
    letter-spacing: 0.1rem;
    margin: 7rem 0 10rem 7rem;
    font-size: 2.5rem;
    color: var(--color__primary);
    background:none;
    outline:none;
    border: none;
}
.projects__btn:hover {
    color: var(--color__white);
    border-bottom: 0.2rem solid var(--color__white);
}
.projects__right__box {
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    background-color: transparent;
    margin-bottom: 2.5rem;
}
.projects__right__box__span {
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 2rem;
}
.projects__right__box:hover  .projects__right__box__content{
    transform: translateY(0);
}
.projects__right__box .projects__right__box__content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color__black);
    padding: 2rem;
    transform: translateY(15rem);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects__right__box__buttons {
    display: flex;
    justify-content:space-around;
    padding: 1rem 0;
}
.projects__right__box__a {
    padding: 0.5rem 1.2rem;
    border-radius: 1rem;
    background-color: var(--color__dark__01);
    cursor: pointer;
    display: flex;
    align-items:center;
    gap: 0.3rem;
    text-decoration: none;
}
.projects__right__box__a:hover *{
    color: var(--color__primary);
    fill: var(--color__primary);
}
.projects__img {
    border-radius: 1rem;
    filter: drop-shadow(1rem 0 2rem black);
}

.projects__right {
    width: 100%;
}
@media (min-width:1025px) {
    .projects__container {
        width: 100%;
        padding: 5rem 2.5rem 5rem 2.5rem;
        flex-direction: column;
    }
    .projects__right {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
    
    .projects__left__title {
        padding-left: 0;
    }
    .projects__left__subtitle {
        padding: 2rem 0 5rem 0;
    }
    .projects__img {
        width:42rem;
    }
    .projects__btn {
        margin: 0 0 5rem 7rem;
    }
    .projects__left__extra{
        padding: 0 5rem 0 7rem;
    }
}
@media (max-width:1024px) {
    .projects__container {
        width: 100%;
        padding: 5rem 2.5rem 5rem 2.5rem;
        flex-direction: column;
    }

    .projects__right {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .projects__img {
        max-width:34rem;
    }
    .projects__btn {
        margin: 0 0 5rem 7rem;
    }
    .projects__left__extra{
        padding: 0 5rem 0 7rem;
    }
}
@media (max-width: 768px) {
    .projects__container {
        width: 100%;
        padding: 5rem 5rem 5rem 5rem;
    }
    .projects__img {
        width: 30rem;
    }
}

@media(max-width: 700px) {
    .projects__img {
        width: 45rem;
        margin: 1rem auto;
    }
}
@media (max-width: 460px) {
    .projects__container {
        flex-direction: column;
        padding: 5rem 0rem;
    }
    .projects__right {
        width: 100%;
        text-align: center;
    }
    .projects__btn {
        margin: 0 0 5rem 0;
    }
    .projects__img {
        width: 33rem;
        margin: 1rem auto;
    }
}
@media (max-width: 360px) {
    .projects__img {
        width: 30rem;
    }
    .projects__right__box__buttons {
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}