
.toogle__button {
    display: none;
}

.toogle__button__input {
    height: 0;
	width: 0;
	visibility: hidden;
}

.toogle__button__label {
	cursor: pointer;
	width: 5rem;
	height: 2.5rem;
	background: var(--color__primary);
	display: block;
	border-radius: 10rem;
	position: relative;
}

.toogle__button__label:after {
	content: '';
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	background: var(--color__dark__01);
	border-radius: 9rem;
	transition: 0.3s;
}

.toogle__button input:checked + label:after {
	left: calc(100% - 0.5rem);
	transform: translateX(-100%);
}


@media (min-width: 550px) {
    .toogle__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
