.about {
    width: 100%;
    padding: 15rem;
    display: flex;
    gap: 5rem;
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.3);
}

.about__left {
    width: 50%;
}
.about__cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.about__card {
    padding: 5rem 7rem;
    border-radius: 1rem;
    filter: drop-shadow(1rem 0 2rem black);
}
.about__card:hover {
    filter: drop-shadow(0 0 0.2rem black);
}
.about__card:hover .card__title {
    color: var(--color__primary);
}
.card__top {
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.card__title {
    font-size: 3.5rem;
}
.card__icon {
    font-size: 1.5rem;
    fill: var(--color__green__dark);
}
.card__desc {
    color: var(--color__gray__dark);
    padding: 1rem 0rem 3rem 0rem;
}
.card__link {
    text-transform: uppercase;
}
.about__right {
    width: 50%;
}
.about__subtitle {
    color: var(--color__gray__dark);
    font-size: 2.2rem;
}
.about__title {
    font-size: 6rem;
    padding: 5rem 0rem;
}
.about__info {
    font-style: italic;
    font-size: 3rem;
    padding-bottom: 3rem;
}
.about__desc {
    color: var(--color__gray__dark);
    font-size: 2.2rem;
    line-height: 3.5rem;
}
@media (max-width: 1024px) {
    .about {
        height: unset;
        padding: 10rem 4rem;
    }
    .about__title {
        font-size: 5rem;
    }
    .about__info {
        font-size: 2.5rem;
        padding-bottom: 2rem;
    }
    .about__desc {
        font-size: 1.8rem;
        line-height: 3rem;
    }
    .about__card {
        padding: 3rem 5rem;
    }
}

@media (max-width: 768px) {
    .about {
        gap: 3rem;
    }
}
@media (max-width: 650px) {
    .about {
        flex-direction: column-reverse;
        align-items:center;
        text-align: center;
    }
    .about__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .about__right {
        width: unset;
    }
    .about__left {
        width: unset;
    }
    .about__cards {
        flex-wrap: wrap;
    }
    .about__cards::-webkit-scrollbar {
        display: none;
    }
    .about__card {
        padding: 3rem;
    }
    .card__top {
        width:20rem;
    }
}