.overlay {
    width: 99vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 4rem;
    z-index: 11;
}

.overlay__container {
    width: 40rem;
    min-height: 10rem;
    background: var(--color__dark__01);
    position:relative;
    border-radius: .5rem;
    box-shadow: rgba(100,100,111,0.2) 0 0.7rem 2.9rem 0;
    padding: 4rem;
}

.overlay__modal__top {
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 0.1rem solid #E8E8E8;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.overlay__container__title {
    color: #64f4ac;
}

.overlay__container__button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    border: none;
    background: none;
    transition: .3s ease all;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content:center;
    text-align: center;
}
.overlay__container__button:hover {
    background: #2d2e31;
}

.overlay__container__button .close {
    fill: #64f4ac;
    transform: rotate(45deg);
    font-size: 1.5rem;
}

.overlay__modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
}
.overlay__modal__content__text{
    font-size: 2.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    .overlay__modal__content__text {
        font-size: 2rem;
    }
}

@media (max-width: 450px) {
    .overlay__modal__content__text {
        font-size: 1.8rem;
    }
    .overlay__container {
        padding: 2.5rem 1.5rem;
    }
    
}
