.navbar {
    width:100%;
    background-color: var(--color__dark__02);
    z-index: 10;
    padding: 2rem 0;
}

.navbar__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    padding: 3rem 10rem;
}

.logo {
    display: flex;
    font-size: 3rem;
    cursor: pointer;
}

.logo__span:hover {
    color: var(--color__primary);
}

.logo__span {
    font-weight: 500;
    text-decoration: none;
}

.list {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: myAnim 0.5s linear 0s 1 normal none;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-5rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.links > a {
    text-decoration: none;
}

.links > a:hover {
    color: var(--color__primary);
}

.links {
    margin-right: 2.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0.7rem 0;
}

.menuIcons {
    display: none;
    position: absolute;
    right: 2rem;
    top: 3.8rem;
    font-size: 2.2rem;
}


.menuIcons:hover {
    opacity: 0.8;
    cursor: pointer;

}

.menu__icon {
    width: 2rem;
}

.navbar__socials {
    display: flex;
    justify-content: space-between;
}

.navbar__github, .navbar__linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.navbar__language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.navbar__language * {
    font-size: 1.5rem;
}


.navbar__item {
    font-size: 3.2rem;
    cursor: pointer;
}
.navbar__item:hover {
    fill: var(--color__primary);
}

.navbar__email {
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .navbar__nav {
        padding: 3rem 8rem 3rem 2.5rem;
    }
}
@media (max-width: 1024px) {
    .navbar__nav {
        padding: 3rem 8rem 3rem 1.5rem;
    }

    .list {
        position: absolute;
        left: 0;
        top: 11rem;
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 0;
        background-color: var(--color__dark__03);
        z-index: 100;
    }

    .links {
        top: 0;
        width: 100%;
        text-align: center;
        margin-right: 0;
        opacity: 0.8;
    }

    .links:hover {
        opacity: 1;
    }
    .menuIcons {
        display:block;
    }
}

@media (max-width: 768px) {
    .navbar__nav {
        padding: 3rem 5rem;
    }
    .logo {
        font-size: 2.5rem;
        margin-right: 5rem;
    }
    .navbar__socials {
        justify-content: unset;
    }

    .navbar__github, .navbar__linkedin, .navbar__cv {
        display: none;
    }

    @media(max-width: 450px) {
        .navbar__nav {
            padding: 3rem 6rem 3rem 3rem;
        }
        .logo {
            margin-right:1.5rem;
        }
    }
}
