.sendemail {
    min-height:80vh;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #25262a;
    padding: 2rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.sendemail__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    background: #2d2e31;
    filter: drop-shadow(10px 0 20px black);
    border-radius: 0.5rem;
}

.sendemail__form__group {
    display: flex;
    flex-direction: column;
}
.sendemail__form__group label {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.sendemail__form__group input, textarea {
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    border-radius: 2rem;
    outline: none;
    border:none;
    font-size: 1rem;
    padding: 1rem;
    color: #444;
}

.sendemail__form__group textarea {
   border-radius: 1rem;
}

.sendemail__form__group__button {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 1rem;
}

.sendemail__form__group__button button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    background-color: #444;
    color: white;
    border-radius: 2rem;
    outline: none;
    border:none;
    cursor: pointer;
}

.sendemail__form__group__button button:hover {
    background-color: #64f4ac;
    color: #444;
}

.sendemail__form__error {
    padding-top: 0.2rem;
    font-size: 0.8rem;
    color: #64f4ac;
}