
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,700&display=swap');


:root {
  --color__primary: #64f4ac;
  --color__secondary: #fff;
  --color__green__dark: #63f0a9;
  --color__white: #fff;
  --color__black: #111;
  --color__dark__01: #25262a;
  --color__dark__02: #2d2e31;
  --color__dark__03: #444;
  --color__gray__light: #e1e1e1;
  --color__gray__dark: #9797a1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  color: var(--color__white); 
  scroll-behavior: smooth;
  transition: all 0.2s linear;
}

body {
  background-color: var(--color__dark__01);
}

html::-webkit-scrollbar {
  width: 0.3rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--color__primary);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}