.banner {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.banner__container {
    display:flex;
    align-items:center;
    justify-content: space-around;
    max-width: 144rem;
    padding: 10rem 1.5rem 0 1.5rem;
}

.banner__left {
    margin-top: -30rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}

.banner__left__subtitle {
    padding: 1rem 2rem;
    color: black;
    font-weight: 600;
    border-radius: 0.5rem;
    background-color: var(--color__primary);
}

.banner__left__subtitle:hover {
    transform: rotate(5deg);
}

.banner__left__title {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem;
    z-index: 1;
}

.banner__left__info {
    display: flex;
    flex-direction: column;
}
.banner__left__info > p {
    color: var(--color__gray__dark);
}

.banner__left__a {
    text-decoration: none;
    letter-spacing: 0.1rem;
    margin-top: 7rem;
    font-size: 2.5rem;
    color: var(--color__primary);
    background: none;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-bottom: 0.2rem solid var(--color__primary);
    cursor: pointer;
}

.banner__left__a:hover {
    color: var(--color__white);
    border-bottom: 0.2rem solid var(--color__white);
}
.banner__right {
    width: 60rem;
}
.banner__right__avatar{
    margin-top: 0.1rem;
    width: 100%;
    position: relative;
    z-index: 3;
}
.banner__right::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
        135deg,
        #28292b 20%,
        #292a2e 20% 40%,
        #2a2b2f 40% 60%,
        #2b2c30 60% 80%,
        #2b2c2e 80%
    );
    border-radius: 50%;
    height: 50rem;
    width: 50rem;
    z-index: 0;
}

.banner__right::before {
    content: "";
    position: absolute;
    bottom: 55%;
    right: 0;
    background: var(--color__primary);
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    z-index: 2;
}

.banner__right__circle {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 5rem;
    height:5rem;
    border-radius: 50%;
    background-color: var(--color__dark__01);
    filter: drop-shadow(-2rem 2rem 2rem rgba(0,0,0,0.534));
}

.banner__right__react {
    position:absolute;
    width: 12rem;
    height: 12rem;
    bottom: 30rem;
    left: 0;
    z-index: 4;
}

.banner__right__react > img {
    width: 6rem;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.banner__right__node {
    position: absolute;
    width:15rem;
    height:15rem;
    bottom: 10rem;
    z-index: 4;
}
.banner__right__node > img {
    width:7rem;
}

.banner__right__javascript {
    position: absolute;
    width: 10rem;
    height:10rem;
    top: 15rem;
    right: 3rem;
    z-index: 2;
}

.banner__right__javascript > img {
    width: 5rem;
}

.banner__info {
    width: 60%;
    display: flex;
    position:absolute;
    align-items:center;
    bottom:5rem;
    left:0;
}

.banner__info__number {
    font-size: 7rem;
    margin-left: 10rem;
}
.banner__info__desc {
    font-size:2.3rem;
    line-height: 3rem;
    color: var(--color__gray__dark);
    margin-left: 3rem;
    text-transform: uppercase;
}

@media (min-width: 1440px) {
    .banner__container {
        padding-top: 10rem;
    }
}
@media (min-width: 1025px) {


    .banner__right::before {
        bottom:65%;
        right:5%;
        z-index: 5;
    }
    .banner__right::after {
        top: 58%;
        left:72%;
        height:50rem;
        width:50rem;
    }

    .banner__right__javascript {
        width:10rem;
        height:10rem;
        top: 18rem;
        right:5rem;
    }

    .banner__right__react {
        width:10rem;
        height:10rem;
        left: 50%;
    }

    .banner__right__node {
        right: 2%;
        bottom: 20%;
    }
}

@media (max-width: 1024px) {
    .banner__container{ 
        padding: 10rem 1.5rem 0 1.5rem;
    }
    .banner__left {
        margin-top:-13rem;
    }
    .banner__right {
        width:50rem;
    }
    .banner__right::before {
        bottom:65%;
        right:5%;
        z-index: 5;
    }
    .banner__right::after {
        top: 55%;
        left:72%;
        height:50rem;
        width:50rem;
    }
    .banner__right__node {
        width:15rem;
        height:15rem;
        right: -1rem;
    }
    .banner__right__react {
        width:10rem;
        height:10rem;
        left: 50%;
    }
    .banner__right__react > img{
        width: 6rem;
    }
    .banner__right__javascript {
        width:7rem;
        height:7rem;
        top: 13rem;
        right:5rem;
    }
    .banner__right__javascript > img {
        width:4rem;
    }
    .banner__info {
        width:50%;
        bottom:7rem;
        left: 0;
    }
    .banner__info__number{ 
        font-size: 4.5rem;
        margin-left: 3rem;
    }
    .banner__info__desc {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-left: 1rem;
    }
}

@media (max-width: 900px) {
    .banner__info {
        bottom: 2.5rem;
    }
}

@media (max-width: 768px) {
    .banner__container {
        display:unset;
    }
    .banner__left {
        position: relative;
        padding:4rem;
        text-align: center;
        margin-top: 0;
        align-items:center;
        z-index: 10;
    }
    .banner__left__title {
        font-size: 4rem;
    }
    .banner__right {
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
    }
    .banner__right > img {
        width: 100%;
    }
    .banner__right::after {
        position:unset;
    }
    .banner__right::before {
        bottom: 40%;
        right: -10%;
        z-index: 4;
    }
    .banner__right__react{
        width:7rem;
        height:7rem;
        bottom:23rem;
        left:0;
        z-index: 4;
    }
    .banner__right__react > img {
        width:4rem;
    }
    .banner__right__node {
        width:8rem;
        height:8rem;
        bottom: 8rem;
        right:0;
    }

    .banner__right__node > img {
        width:4rem;
    }
    .banner__right__javascript {
        width:7rem;
        height:7rem;
        top: 12rem;
        right:5rem;
    }
    .banner__right__javascript > img {
        width: 3.5rem;
    }
    .banner__miniInfo {
        width: 70%;
        left:20%;
    }

}

@media (min-width: 280px) and (max-width: 460px) {

    .banner__right {
        width:33rem;
        position: absolute;
        bottom: -1rem;
        left: 4rem;
        opacity: 0.2;
    }
    .banner__miniInfo {
        display: none;
    }
    .banner__info {
        display: none;
    }
    .banner__right__javascript {
        top: 8rem;
        right:2rem;
    }
}

@media (max-width: 350px) {
    .banner__right {
        left: 1rem;
    }
}